/*___________________________________________________________________
    Global Layout Set-up
____________________________________________________________________*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

form {
  max-width: 100%;
  width: 320px;
  margin: 0 auto;
}

h1, h2, p {
  text-align: center;
}

h1 {
  background: rgba(44, 62, 80,1.0);
  color: #fff;
  margin: 0;
  padding: 20px 0;
  text-transform: uppercase;
  font-size: 1.5em;
}

h2 {
  font-weight: 700;
}

p {
  font-weight: 300;
  font-style: italic;
  padding: 0 20px;
}

hr {
  margin: 0 .75rem;
}


/*___________________________________________________________________
    Base Layout Styles
____________________________________________________________________*/

fieldset {
  border: none;
  margin-bottom: 10px;
}

legend {
  font-size: 1.25em;
  margin-bottom: 10px;
  font-weight: 700;
}

label {
  display: block;
  margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 1em;
  height: 50px;
  width: 100%;
  margin: 0 0 30px;
  padding: 15px;
  background-color: rgba(236, 240, 241,1.0);
  color: rgba(149, 165, 166,1.0);
/*  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3) inset; */
  border-radius: 5px;
}

#zipcode {
  width: 50%;
  margin-bottom: 15px;
}

#topics {
  width: 100%;
  height: 100px;
  margin-top: -15px;
}

button {
  width: 100%;
  color: #fff;
  font-weight: 500;
  padding: 10px 40px;
  background: rgba(231, 76, 60,1.0);
  border: 1px solid rgba(192, 57, 43,1.0);
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  border-radius: 5px;
}

/*___________________________________________________________________
    Page Elements
____________________________________________________________________*/

/* Horizontal Rule Style */

.thick {
  border: 2px solid rgba(44, 62, 80,1.0);
  margin-top: 30px;
  margin-bottom: 2px;
}

.thin {
  border: 1px solid rgba(44, 62, 80,1.0);
  margin-bottom: 30px;
}

/* Icon Style */

span i {
  color: #fff;
  background: rgba(231, 76, 60,1.0);
  height: 35px;
  width: 35px;
  display: inline-block;
  line-height: 30px;
  margin-right: 4px;
  padding-top: 8px;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

.choice {
  display: inline-block;
  font-weight: 300;
  margin-top: 10px;
}

.format {
  margin: 30px 0 .5em;
}

.more_info {
  text-align: left;
  padding: 0 .5em;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

/* Copyright Style */

.copyright {
  font-size: .75em;
}

/*___________________________________________________________________
    Media Queries
____________________________________________________________________*/


/* ----- Tablet/Desktop ----- */

@media screen and (min-width: 760px) {


}


